.calculator {
  max-width: 300px;
  margin: 100px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #213A57;

}

.display {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: right;
}

.input {
  font-size: 24px;
  color: #333;
}

.result {
  font-size: 18px;
  color: #665656;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #0b6377b2;
  color: white;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #14919B;
}

.clear {
  background-color: #dc3545;
}

.clear:hover {
  background-color: #c82333;
}
